


@font-face {
    font-family: "Tajawal-Light";
    src:url("../webfonts/Tajawal/Tajawal-Light.woff") , url("../webfonts/Tajawal/Tajawal-Light..woff2"),  url("../webfonts/Tajawal/Tajawal-Light..ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Tajawal-Regular";
    src:url("../webfonts/Tajawal/Tajawal-Regular.woff") , url("../webfonts/Tajawal/Tajawal-Regular.woff2") , url("../webfonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "Tajawal-Medium";
    src:url("../webfonts/Tajawal/Tajawal-Medium.woff") , url("../webfonts/Tajawal/Tajawal-Medium.woff2") , url("../webfonts/Tajawal/Tajawal-Medium.ttf")  format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: "Tajawal-Bold";
    src:url("../webfonts/Tajawal/Tajawal-Bold.woff")  , url("../webfonts/Tajawal/Tajawal-Bold.woff2")  , url("../webfonts/Tajawal/Tajawal-Bold.ttf")   format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


